ai news summarizer.json
{
  "name": "ai news summarizer copy",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        80
      ],
      "id": "074a5fc0-b7bb-487d-9435-bfdc34ca99f7",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        -64
      ],
      "id": "cd10d00c-4bd5-40dd-a504-1fed96c7244a",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        -256
      ],
      "id": "299b15c0-8eb3-4ecc-8009-c35eb19931be",
      "name": "Limit1"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        512
      ],
      "id": "20cd13f1-9c49-4539-a176-5f33ae29db9e",
      "name": "Limit2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        128
      ],
      "id": "b11531c9-38d5-4537-9e47-66880138ccba",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior technology analyst summarizing news for founders, entrepreneurs, and decision-makers.\n\nCreate a CLEAN, WELL-SPACED HTML EMAIL BODY ONLY.\nDo NOT include a subject line.\n\nUse this exact structure:\n\n<p>Hi there,Iam your SYRA an Ai Assistant </p>\n\n<p>Here's your curated news summary:</p>\n\n<h2>Official AI Updates</h2>\n\n<h3>HEADLINE IN ALL CAPS</h3>\n<p>2–3 sentence summary explaining what happened and why it matters.</p>\n<p><a href=\"ARTICLE_LINK\">Read more</a></p>\n\n<h2>AI & Business</h2>\n\n<h3>HEADLINE IN ALL CAPS</h3>\n<p>2–3 sentence summary explaining what happened and why it matters.</p>\n<p><a href=\"ARTICLE_LINK\">Read more</a></p>\n\n<h2>AI Research & Tools</h2>\n\n<h3>HEADLINE IN ALL CAPS</h3>\n<p>2–3 sentence summary explaining what happened and why it matters.</p>\n<p><a href=\"ARTICLE_LINK\">Read more</a></p>\n\n<p>Best regards,<br>SYRA AI</p>\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        928,
        128
      ],
      "id": "7e70d83e-7be4-43dd-be18-66d6e79a5064",
      "name": "Ai summarizer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        352
      ],
      "id": "59301748-82b7-4da6-a628-1512d9a1acaf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BnA6bXnnc5iGHiss",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Add your@gmail.com",
        "subject": "Today tech news",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        128
      ],
      "id": "a1e05b7e-ee45-49de-a914-52d3e7b3dd2b",
      "name": "Send a message",
      "webhookId": "b27f6ba4-c7a0-4b11-9be8-33b3e7dc9d2d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Vu7uDaM9zg0c8efb",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        128
      ],
      "id": "75b6758e-e75e-4d8f-9ee1-3452d7a99059",
      "name": "Limit3"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        320
      ],
      "id": "5c008ddf-3b41-4813-81ab-5bc09d219b38",
      "name": "Limit4"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        320
      ],
      "id": "4f2d7399-080f-49d0-84a7-8e37611379d1",
      "name": "Wired"
    },
    {
      "parameters": {
        "url": "https://www.marktechpost.com/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        128
      ],
      "id": "f3523567-8811-4a6a-af8b-246f37d88258",
      "name": "Marktech"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        -64
      ],
      "id": "ae9727a7-55d2-4648-8a04-4f79d61eff3e",
      "name": "Techcrunch"
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        16,
        -256
      ],
      "id": "22c81f09-a78a-4c8c-9931-c1b89570f2e8",
      "name": "Venture beat"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        32,
        512
      ],
      "id": "605b75fa-af92-4f2f-8086-4f70f16fbdbe",
      "name": "Ai-news"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        32
      ],
      "id": "9533090c-5b47-498a-9715-d802ecd06c99",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ai summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ai summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ai summarizer": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wired": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marktech": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Techcrunch": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Venture beat": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai-news": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marktech",
            "type": "main",
            "index": 0
          },
          {
            "node": "Techcrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Venture beat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ai-news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "709e4d4b-4dc3-4e09-9420-e9148d3ddb2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36038aa7e0874d340fb6e186b294aa367e6bed4e4cbe948be12083cf1648ea67"
  },
  "id": "7BibvSnRNliJqCnV",
  "tags": []
}